.w
{
	width: 1190px;
	margin: 0 auto;
	
}
.fl
{
	float: left;
	
}
.fr {
	float: right;
}

body{
	background-color: darkorchid;
}

header{
	height: 80px;
	background-color: deepskyblue;
}
.shortcut{
	height: 40px;
	background-color: darkcyan;
	font-size: 12px;
	line-height: 30px;
}

.city{
	margin-left: 100px;
}
.cba{
	margin-right: 100px;
}
.tt {
	margin-right: 1500px;
}